{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>
    
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Prix par nuit</th>
                <th>Logement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if reservations is defined and reservations is not empty %}
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.id }}</td>
                        <td>{{ reservation.dateDebut | date('d-m-Y') }}</td>
                        <td>{{ reservation.dateFin | date('d-m-Y') }}</td>
                        <td>{{ reservation.logement.id }}</td>
                        
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">Aucune réservation trouvée.</td>
                </tr>
            {% endif %}
             
        </tbody>
    </table>
    
 
{% endblock %}
