{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                {% if availableDisponibilites is defined and availableDisponibilites is not empty %}
        <ul>
            {% for disponibilite in availableDisponibilites %}
                <li>
                    Du {{ disponibilite.dateDebut | date('Y-m-d') }} au {{ disponibilite.dateFin | date('Y-m-d') }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        Aucune disponibilité
    {% endif %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_reservation_new') }}">Create new</a> #}
{% endblock %}
