{% extends 'base.html.twig' %}

{% block title %}New Disponibilite{% endblock %}

{% block body %}
    <h1>Create new Disponibilite</h1>

    {{ include('disponibilite/_form.html.twig') }}

    <a href="{{ path('app_disponibilite_index') }}">back to list</a>
{% endblock %}
